/****************/
/* For Parallex */
/****************/
@media only screen and (min-device-width: 768px) {
}

@media only screen and (min-device-width: 1024px) {
    #parallax {
        /*  this is where the magic happens:  */
        background-image: url("../../public/images/parallax.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        
        /* dimensions are important, ensure it is tall enough to scroll */ 
        min-height: 100vh;
        
        /* you are free to lay out the container items with flexbox or whatever means you wish */
        display: flex;
    }

    #overlay {
        width: 100%;
        background-color: rgba(0, 29, 86, 0.38);
    }

    #parallax-text-container {
        position: relative;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 29, 86, 0.75);
        margin-left: auto;
        margin-right: 0;  
        color: white;
        display: flex;
        align-content: center;
        flex-direction: column;
    }

    #parallax-text{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
    }

    .text {
        /* display: inline-block; */
        margin-right: auto;
    }

    #title-line {
        width: 3vw;
        height: 3px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 2vh;
    }

    #title-text {
        font-size: 5vw;
    }

    .motto {
        margin-top: 2vh;
    }
}

@media only screen and (min-device-width: 1280px) {
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax-container {
        background-attachment: scroll;
    }
} 