@tailwind base;
@tailwind components;
@tailwind utilities;

#parallax {
    background-image: url('../public/images/parallax_placeholder.png');

}

#mobile {
    align-content: center; /* */
}

#button {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
}

@media screen and (max-width: 1145px) { 
    /* I tested to see at what screen size the navbar elements break into a 
    new line, and it's 1145px. 
    */
    #nav {
        display: none;
    }

    #button{
        display: block;
    }
}


