@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --usstm-background: #FFFFFF;
    --usstm-foreground: #000000;
    --usstm-highlight: #63BDEE;
    --usstm-highlight-dark: #465DAE;
}

@font-face {
    font-family: Inika;
    src: url(../public/fonts/Inika/Inika-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: "Inter";
}

#parallax {
    /*  this is where the magic happens:  */
    background-image: url("../public/images/parallax.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    /* dimensions are important, ensure it is tall enough to scroll */ 
    min-height: 100vh;
    
    /* you are free to lay out the container items with flexbox or whatever means you wish */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    display: flex;
    flex: auto;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.55);

    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    row-gap: 10vh;
}

#usstm {
    font-size: min(60pt, 5vw);
    font-weight: 650;
    color: #FFFFF0;
    padding: 1vh 0;
}
#slogan {
    font-size: min(25pt, 3vw);
    font-weight: 400;
    color: #FFFFF0;
    padding: 1vh 0;
}

 /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
 @media only screen and (max-device-width: 1366px) {
    .parallax-container {
      background-attachment: scroll;
    }
    .overlay {
        padding: 0 0.5vw;
    }
  } 