*{
    box-sizing: border-box;
}
ul{
    list-style: disc;
}
b{
    font-weight: 900;
}
a{
    text-decoration: underline;
}
div>div{
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
}
div.content{
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 20px;
    width: 100%;
    display: block;
}
h2{
    font-family: Lato;
}
p{
    font-family: Lato;
}
.subtitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 85%);
    padding: 10px ;
    font-size: 36px;
    box-shadow: 0px 0px 3px hsl(0, 0%, 35%);
    border-radius: 0px;
}
#title{
    font-size: 48px;
    padding: 15px;
    padding-left: 50px;
    background-color: #001D56;
    color: white ;
    border-top: 3px solid #d67940;
    border-bottom: 3px solid #d67940;
}
#introduction{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.no-dec-list{
    list-style-type: none;
}
#imp{
    background-color: #334a78;
    color: white;
    display: block;
    padding: 7px;
    width: auto;
    box-shadow: 0px 0px 3px #001D56;
}
.subtitle:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 89%);
}
#exclamation-mark{
    position: relative;
    float: left;
    margin: 10px;
    height: auto;
    width: 40px;
}
#recording-session{
    padding-left: 20px;
    padding-bottom: 20px;
}
#own-list{
    color: #d67940;
}

#other-dates{
    list-style-type: none;
    padding-left: 7px;
}
#join-non-elected-positions-list{
    padding-left: 20px;
}
.bottom-links{
    color: red;
    text-decoration: underline;
}
#wtext:hover{
    color: hsl(0, 0%, 90%);
}
#btext:hover{
    color: hsl(0, 0%, 20%);
}
.red-mark{
    color: red;
}
.move-right{
    padding-left: 15px;
}