<div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(182,200,222,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(147,174,206,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(147,174,206,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#7094BE" />
        </g>
    </svg>
</div>
<div class="content">
    <div class="footer-grid">
        <p id="footer-text">&copy; 2023 <a href="https://instagram.com/pacs_tmu" target="_blank">PACS</a> made for USSTM </p>
        <a href="https://instagram.com/usstorontomet" target="_blank"><img class="logo" src="../public/images/footer-logos/instagram-logo.png"></a>
        <a href="https://instagram.com/usstorontomet" target="_blank"><img class="logo" src="../public/images/footer-logos/linkedin-logo.png"></a>
        <a href="https://instagram.com/usstorontomet" target="_blank"><img class="logo" src="../public/images/footer-logos/tiktok-logo.png"></a>
    </div>
</div>