<div class="bg-[#EDF5FC] sticky top-0 z-10">
    <nav  class="max-w-3xl mx-auto p-4 flex justify-between items-center">
        <div class="text-3xl font-medium p-4 flex items-center">
            <a href="#home"> 
                <img src="public/images/USSTM-logo.png" class="w-32" alt="usstm logo">
            </a>
            USSTM 
        </div>

        <div>
            <button id="mobile-open-button" class="text-3xl sm:hidden focus:outline-none">
                &#9776;
            </button>
            
            <nav class="nav-links hidden sm:block space-x-8 text-lg" aria-label="main">
                <a href="#about" class="hover:opacity-90">ABOUT US</a>
                <a href="#events" class="hover:opacity-90">EVENTS</a>
                <a href="#academics" class="hover:opacity-90">ACADEMICS</a>
                <a href="#finances" class="hover:opacity-90">FINANCES</a>
                <a href="#community" class="hover:opacity-90">COMMUNITY</a>
                <a href="#contact" class="hover:opacity-90">CONTACT US</a>
                <a href="#store" class="hover:opacity-90">STORE</a>
            </nav>
        </div>
    </nav>
</div>