@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --usstm-background: #FFFAFA;
    --usstm-foreground: #1E1E1E;
    --highlight: #D67940;
    --highlight-dark: #001D56;
    --highlight-blue: #E1E8F5;
}

@font-face {
    font-family: Abril;
    src: url(/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

/* Set bg color and margins */
html {
    background-color: var(--usstm-background);
    margin: 0;
    padding: 0;
}


/* Default Font */
body {
    font-family: "Lato";
}

/* Header font */
h1, h2, h3, h4, h5, h6 {
    font-family: Abril;
}

a:not(#navbar a) {
    color: var(--highlight);
    text-decoration: underline;
}

a:hover:not(#navbar a) {
    transition: ease-in-out 0.2s;
    color: var(--highlight-dark);
}

.main {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}