.slick-prev:before,
.slick-next:before {
  display: none;
}

@media screen and (min-width: 1024px) {
  .slick-prev:before,
  .slick-next:before {
    display: block;
    position: relative;
    color: black;
  }

  .slick-next {
    right: -25px;
  }
  .slick-prev{
    left: -25px;
  }
}