/****************/
/* For Parallex */
/****************/
@media only screen and (min-device-width: 768px) {
}

@media only screen and (min-device-width: 1024px) {
    #parallax {
        /*  this is where the magic happens:  */
        background-image: url("../../public/images/parallax.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        
        /* dimensions are important, ensure it is tall enough to scroll */ 
        min-height: calc(100vh - var(--navbar-height));
        
        /* you are free to lay out the container items with flexbox or whatever means you wish */
        display: flex;
    }

    #overlay {
        position: relative;
        width: 100%;
        background-color: rgba(0, 29, 86, 0.38);
    }

    #parallax-text-container {
        position: relative;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 29, 86, 0.75);
        margin-left: auto;
        margin-right: 0;  
        color: white;
        display: flex;
        flex-direction: column;
    }

    #parallax-text{
        position: absolute;
        top: 28%;
        /* margin-bottom: auto; */
        margin-left: 5%;
    }

    .text {
        margin-right: auto;
    }

    #title-line {
        width: 3vw;
        height: 3px;
        background-color: white;
        border-radius: 10%;
        margin-bottom: 2vh;
    }

    #title-text {
        font-size: 5vw;
    }

    .subtitle-text {
        font-size: 1.4vw;
        line-height: 1.3;
    }

    #motto {
        margin-top: 2vh;
    }

    #stats-box {
        width: 95%;
        height: 24%;
        position: absolute;
        z-index: 2;
        background-color: var(--usstm-background);

        top: 73%;
        left: 2.5%;

        border-radius: 5px;
    }

    #separator-holder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .stats-separator {
        height: 67%;
        width: 1px;
        background-color: var(--highlight-dark);
    }

    #stats-text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #stats-students, #stats-groups, #stats-board {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 50% 50%;
        height: 100%;
        width: 33%;
        margin-left: 2%;
        color: var(--highlight-dark);
    }

    .stats-icon {
        width: 60%;
        grid-row: 1 / span 2;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 1vw;
    }

    .stats-info {
        grid-column: 2 / span 2;
    }

    .stats-number {
        font-weight: 700;
        margin-top: auto;
        margin-bottom: 0;
    }

    .stats-description {
        font-weight: 500;
    }

}

@media only screen and (min-device-width: 1280px) {
    .stats-icon {
        width: 50%;
    }
}

@media only screen and (min-device-width: 1664px) {
    #title-text {
        font-size: 4vw;
    }
    .subtitle-text {
        font-size: 1.1vw;
    }
    #parallax-text-container {
        width: 50%
    }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax-container {
        background-attachment: scroll;
    }
} 