.swiper-button-next,
.swiper-button-prev {
  color: transparent;
  font-weight: bold;
  display: none;
  object-fit: cover;
  background-repeat: no-repeat;
}

.swiper-pagination-bullet-active {
  background-color: var(--usstm-background);
}

@media screen and (min-width: 1024px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }

  .swiper-button-next{
    background-image: url('../../../_components/side-arrow.svg');
    fill: white;
    stroke: white;
  }
  .swiper-button-prev{
    background-image: url('../../../_components/side-arrow.svg');
    transform: rotate(180deg);
  }
}