@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Abril;
  src: url(/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Regular.ttf);
}